html,
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 100%;
    margin: 0;
}


/* START NAVBAR */

a:hover {
    text-decoration: none;
}

a {
    color: white;
}

.top-nav {
    position: fixed;
    top: 0;
    height: 70px;
    background-color: black;
    width: 100%;
    margin: 0;
    z-index: 999;
    line-height: 70px;
}

.header-nav {
    position: relative;
    margin-left: 10px;
}

.logo-nav {
    float: left;
    font-weight: 800;
    vertical-align: middle;
    letter-spacing: 2px;
}

.logo-nav:hover {
    color: white;
}

.header-name-nav {
    margin-left: 10px;
    margin-right: 30px;
    font-size: 2rem;
}

.recipes-blog-nav-item {
    float: left;
    color: #e7bab3;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 1.2rem;
}

.recipes-blog-nav-item:hover {
    background-color: #131414;
    color: #e7bab3;
}

.icons-nav {
    float: right;
    vertical-align: middle;
}

.icon-right-nav {
    padding: 0 10px;
    float: right;
}

.icon-right-nav:hover {
    color: #f7aaa3;
}

.toggle-button-right {
    float: right;
}

.top-nav .icon {
    display: none;
}

.top-nav .icon:hover {
    color: white;
}

.fa,
.fas {
    font-size: 1.5rem;
}

.fa {
    margin-right: 10px;
}


/* NAVBAR RESPONSIVE < 600px WIDTH */

@media screen and (max-width: 700px) {
    .top-nav  .header-nav .header-name-nav {
        display: none;
    }

    .top-nav  .header-nav .recipes-blog-nav-item {
        display: none;
    }

    .top-nav  .icons-nav {
        display: none;
    }

    .top-nav .toggle-button-right a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {

    .top-nav.responsive {
        height: 280px;
    }

    .top-nav.responsive .icons-nav {
        position: relative;
        display: block;
    }

    .top-nav.responsive .icon-right-nav {
        float: center;
    }

    .top-nav.responsive .header-nav {
        position: relative;
    }

    .top-nav.responsive .header-nav .recipes-blog-nav {
        text-align: center;
    }

    .top-nav.responsive .toggle-button-right .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .top-nav.responsive .header-nav .logo-name-nav {
        float: none;
        text-align: left;
    }

    .top-nav.responsive .header-nav a {
        float: none;
        display: block;
    }

    .top-nav.responsive .icons-nav {
        width: 100%;
        text-align: center;
    }

    .top-nav.responsive .icons-nav a {
        float: none;
        display: inline;
    }


}



/* Body five main divs */

.div-one {
    height: 35rem;
    background-color: #b7eae3;
    position: relative;
}

.div-two {
    height: 600px;
    background-color: #c7dad3;
}

.div-three {
    height: 600px;
    background-color: #d7cac3;
}

.div-four {
    height: 600px;
    background-color: #e7bab3;
}

.div-five {
    height: 600px;
    background-color: #f7aaa3;
}


/* Div-one pictures */


.cabbage {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 12rem;
    position: absolute;
    left: 15%;
    bottom: 20%;
    animation: float1 6s ease-in-out infinite;
}

.green-pea {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 8rem;
    position: absolute;
    left: 30%;
    bottom: 55%;
    animation: float1 4s ease-in-out infinite;
}

.celery {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 10rem;
    position: absolute;
    left: 30%;
    bottom: 8%;
    animation: float2 8s ease-in-out infinite;
}

.tomato {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 8rem;
    position: absolute;
    left: 43%;
    bottom: 45%;
    animation: float2 4s ease-in-out infinite;
}

.potato {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 8rem;
    position: absolute;
    left: 40%;
    bottom: 8%;
    animation: float1 4s ease-in-out infinite;
}

.onion {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 7rem;
    position: absolute;
    left: 55%;
    bottom: 50%;
    animation: float1 5s ease-in-out infinite;
}

.broccoli {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 18rem;
    position: absolute;
    left: 50%;
    bottom: 2%;
    animation: float2 10s ease-in-out infinite;
}

.raddish {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 2rem;
    position: absolute;
    left: 68%;
    bottom: 40%;
    animation: float2 3s ease-in-out infinite;
}

.mushroom {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 5rem;
    position: absolute;
    left: 70%;
    bottom: 53%;
    animation: float1 4.5s ease-in-out infinite;
}

.avocado {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 5rem;
    position: absolute;
    left: 82%;
    bottom: 49%;
    animation: float2 5s ease-in-out infinite;
}

.cucumber {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 7rem;
    position: absolute;
    left: 73%;
    bottom: 10%;
    animation: float2 3s ease-in-out infinite;
}

.leek {
    background: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a);
    width: 7rem;
    position: absolute;
    left: 83%;
    bottom: 15%;
    animation: float1 6s ease-in-out infinite;
}

/* Animations */

@keyframes float1 {
    0% {
        /* box-shadow:  0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        transform: translatey(20px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        /* box-shadow:  0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}