<nav class="top-nav" id="topNav">
    <div class="header-nav">
        <div class="logo-name-nav">
            <a href="/" class="logo-nav"><i class="fas fa-pepper-hot"></i><span class="header-name-nav">Crazy Potato
                    Lady</span> </a>
        </div>

        <div class="recipes-blog-nav">
            <a class="recipes-blog-nav-item" id="recipes-hoverable" href="/recipes">Recipes</a>
            <div class="dropdown-content">
                <a href="/recipes/breakfast" class="dropdown-responsive">Breakfast</a>
                <a href="/recipes/dinner" class="dropdown-responsive">Dinner</a>
                <a href="/recipes/desert" class="dropdown-responsive">Desert</a>
            </div>
            <a class="recipes-blog-nav-item" href="/blog">Blog</a>


        </div>
    </div>

    <div class="icons-nav">

        <a data-tooltip="Hire me!" data-tooltip-location="bottom" href="/cooperation" class="icon-right-nav"><i
                class="fas fa-briefcase"></i></a>
        <a data-tooltip="About" data-tooltip-location="bottom" href="/about" class="icon-right-nav"><i
                class="fas fa-question"></i></a>
        <a data-tooltip="Contact" data-tooltip-location="bottom" href="/contact" class="icon-right-nav"><i
                class="fas fa-hands-helping"></i></a>
    </div>
    <div class="logout-button">
        <% if(adminLogged) { %>
        <form action="/logout" method="POST">
            <button class="btn btn-light" type="submit">Log out</button>
        </form>
        <% } %>
    </div>
    <div class="toggle-button-right">
        <a href="javascript:void(0);" class="icon" onclick="navbarCollapse()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>