<%- include("partials/header") -%>

<body style="background-color: #b7eae3" onmouseup="mouseUpPhoneNumber()">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->

    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">About me</h1>
        </div>
        <div class="row justify-content-center col-12">
            <div class="col-lg-3">
                <img class="author" src="images/marta.jpg" alt="">
            </div>
            <div class="col-lg-8 cv-title">
                <h2>Marta Pozaroszczyk</h2>
                <h3><span class="transparent">A wanna-be</span> &nbsp; Junior Web Developer</h3>
                <hr class="about-me-line">
                <p class="about-text">Hello! My name is Marta and I am an engineer. Currently, I am a self-educating web
                    developer looking for junior opportunities (front-end or back-end) in the Netherlands, preferably
                    within Ranstad area. I am ambitious and devoted to the given task.</p>
                <p class="about-text">Please, feel free to check out my CV down below and contact me to get to know me.
                    Let this website I created myself be my business card.</p>
            </div>
        </div>
        <div class="row justify-content-center col-12">
            <div class="col-lg-3 side-panel-grid">
                <div class="cv-side-panel-items grid-1">
                    <p class="contact-item"><a href="mailto: marta.pozaroszczyk@gmail.com"><i
                                class="fas fa-envelope"></i> &nbsp &nbsp Marta Pozaroszczyk</a></p>
                    <p class="contact-item phone-number">&nbsp<i class="fas fa-mobile-alt"></i> &nbsp &nbsp <span id="phoneNumber" onmousedown="mouseDownPhoneNumber()" title="Phone Number">Phone number</span> </p>
                    <p class="contact-item">&nbsp<i class="fas fa-map-marker-alt"></i> &nbsp &nbsp Delft, South-Holland
                    </p>
                    <p class="contact-item"><a href="https://www.linkedin.com/in/mpozaro/" target="_blank"><i
                                class="fab fa-linkedin"></i> &nbsp &nbsp mpozaro</a></p>
                    <p class="contact-item"><a href="https://github.com/grubahilda" target="_blank"><i
                                class="fab fa-github"></i> &nbsp &nbsp grubahilda</a></p>
                </div>
                <div class="cv-side-panel-items grid-2">
                    <h2 class="cv-headline">Skills</h2>
                    <% const skillsArray = ["JavaScript", "CSS", "HTML", "Node.js", "Express js", "Elixir / Phoenix (basics)", "Python (basics)", "Adobe PS", "LaTeX"] %>
                    <% for (var i=0; i < skillsArray.length; i++) { %>
                        <p class="skill"><%= skillsArray[i] %></p>
                    <% } %>
                </div>
                <div class="cv-side-panel-items grid-3">
                    <h2 class="cv-headline">Languages</h2>
                    <p class="language">English</p>
                    <p class="language-progress-bars"><span class="full"></span><span class="full"></span><span
                            class="full"></span><span class="full"></span><span class="full"></span></p>
                    <p class="language">Polish</p>
                    <p><span class="full"></span><span class="full"></span><span class="full"></span><span
                            class="full"></span><span class="full"></span></p>
                    <p class="language">Portuguese</p>
                    <p><span class="full"></span><span class="full"></span><span class="full"></span><span
                            class="empty"></span><span class="empty"></span></p>
                    <p class="language">Dutch</p>
                    <p><span class="full"></span><span class="full"></span><span class="empty"></span><span
                            class="empty"></span><span class="empty"></span></p>
                </div>
                <div class="cv-side-panel-items grid-4">
                    <h2 class="cv-headline">Interests</h2>
                    <p class="interest">Photography</p>
                    <p class="interest">Holistic healthy lifestyle</p>
                    <p class="interest">Yoga</p>
                    <p class="interest">Technology</p>
                    <p class="interest">Nutrition</p>
                    <p class="interest">Cycling</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="work-education-items">
                    <h2 class="cv-headline">Work experience</h2>
                    <div class="work-education-item">
                        <h3 class="position-title">Technical writer II</h3>
                        <h4 class="company">Plaxis BV</h4>
                        <p class="working-dates">03/2017 - 03/2019</p>
                        <p class="job-location">Delft, NL</p>
                        <br>
                        <p class="short-description-about">Essential for geotechnical professionals. 2D and 3D finite element
                            software for geotechnical analysis of deformation and stability of soil structures.</p>
                        <ul class="responsibilities-list">
                            <li>creating and maintaining customer documentation</li>
                            <li>creating and maintaining command/scripting documentation in LaTeX, HTML and Python</li>
                            <li>maintaining documentation class (LaTeX) and building server</li>
                            <li>planning and managing teams' work in Jira</li>
                        </ul>
                        <p class="references">Reference contacts available, please <a class="contact-me" href="/contact">contact me</a>.</p>
                    </div>
                    <div class="work-education-item">
                        <h3 class="position-title">Customer documentation engineer</h3>
                        <h4 class="company">Nokia Networks</h4>
                        <p class="working-dates">03/2015 - 03/2017</p>
                        <p class="job-location">Wrocław, PL</p>
                        <br>
                        <p class="short-description-about">Multinational data networking and telecommunications equipment.</p>
                        <ul class="responsibilities-list">
                            <li>creating and maintaining customer documentation</li>
                            <li>creating graphics for installation manuals</li>
                            <li>analyzing 3D models of mechanical assemblies</li>
                        </ul>
                        <p class="references">Reference contacts available, please <a class="contact-me" href="/contact">contact me</a>.</p>
                    </div>
                    <div class="work-education-item">
                        <h3 class="position-title">Intern</h3>
                        <h4 class="company">Fundwell, Lda</h4>
                        <p class="working-dates">07/2014 – 11/2014</p>
                        <p class="job-location">Maia, Porto, PT</p>
                        <br>
                        <p class="short-description-about">Die casting company.</p>
                        <ul class="responsibilities-list">
                            <li>designing and modeling metal parts in AutoCAD/Solidworks</li>
                            <li>testing and programming CNC machine</li>
                            <li>parts quality tests and verification</li>
                        </ul>
                    </div>
                </div>
                <div class="work-education-items">
                    <h2 class="cv-headline">Education</h2>
                    <div class="work-education-item">
                        <h3 class="position-title">B.Eng Automatic Control and Robotics</h3>
                        <h4 class="company">Poznań University of Technology</h4>
                        <p class="working-dates">09/2010 - 02/2014</p>
                        <p class="job-location">Poznań, PL</p>
                        <br>
                        <p class="short-description-about">3.5 years of education ended with a final project (Robotic arm
                            controlled by Kinect sensor). The major includes computer science, mechanical and electrical
                            engineering to design, create and control robots and other automated devices.</p>
                        <ul class="subjects-list">
                            <li>Physics</li>
                            <br>
                            <li>Mathematical Analysis</li>
                            <br>
                            <li>Information Technologies</li>
                            <li>Programming Fundamentals</li>
                            <br>
                            <li>Artificial Inteligence</li>
                            <li>Computer Systems</li>
                            <li>Discrete Mathematics with Logic</li>
                        </ul>
                    </div>
                    <div class="work-education-item">
                        <h3 class="position-title">M.Eng Computer Engineering (Erasmus exchange)</h3>
                        <h4 class="company">University of Coimbra</h4>
                        <p class="working-dates">02/2014 - 07/2014</p>
                        <p class="job-location">Coimbra, PT</p>
                        <br>
                        <p class="short-description-about">5 months of studying abroad at the university partner in Coimbra,
                            Portugal in an exchange program.</p>
                        <ul class="subjects-list">
                            <li>Study and Development of Games</li>
                            <li>Human-Computer Interactions</li>
                            <li>Network Performance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer") -%>