<%- include("partials/header") -%>

<body style="background-color: 	#b7eae3">

   
   
    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->

    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">Compose a new blog post</h1>
        </div>
        <div class="row justify-content-center col-12">
            <form method="post" action="/compose" enctype="multipart/form-data">
                <input class="new-post-title" type="text" name="postTitle" placeholder="New post title">
                <br>
                <input type="file" accept="image/*" name="postPictureFile" id="postFile">
                <br>
                <!-- <input type="image" src="" height="100px" alt="Submit">
                <br> -->
                <textarea name="postBody" class="tinymce"></textarea>
                <br>
                <input class="new-post-title" type="text" name="postTags" placeholder="Tags">
                <br>
                <button class="submit-new-post" type="submit">Post</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/tinymce/plugin/tinymce.min.js"></script>
    <script type="text/javascript" src="/tinymce/init-tinymce.js"></script>

    <%- include("partials/footer") -%>
    