<%- include("partials/header") -%>

<body style="background-color: 	#b7eae3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->

    <div class="container-fluid">
            <div class="row">
                    <h1 class="page-title">Contact me</h1>
            </div>
            <div class="row justify-content-center col-12">
            
                </div>
        </div>


    <%- include("partials/footer") -%>