<footer class="footer">
    <div class="socials"><a href="#"><i class="fab fa-youtube"></i></a><a href="#"><i class="fab fa-instagram"></i></a></div>
    
    <h3 class="copyright">Copyright &copy; <span id="currentYear"></span> Marta Pozaroszczyk</h3>
</footer>