<%- include("partials/header") -%>

<body style="background-color: 	#b7eae3">

   
   
    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->

    <div class="container-fluid no-padding">
        <div class="row">
            <h1 class="page-title forbidden-page">This is the admin's corner :-)</h1>
        </div>
        <div class="row">
            <div class="forbidden-div">
                <p class="forbidden-text">Don't take this personally but access to this page is denied.</p>
                <p class="forbidden-text">Make friends with the admin, maybe she'll show you this part of the site :-)</p>
            </div>
            <img class="forbidden-image" src="/images/forbidden-veggies-say-hi.png" alt="forbidden-veggies-say-hi">
        </div>
    </div>

    <script type="text/javascript" src="/tinymce/plugin/tinymce.min.js"></script>
    <script type="text/javascript" src="/tinymce/init-tinymce.js"></script>

    <%- include("partials/footer") -%>
    