<%- include("partials/header") -%>

<body style="background-color: #f7aaa3">

    <!-- START NAVBAR -->
    <%- include("partials/navbar"); -%>
    <!-- END NAVBAR -->
    <h1 hidden class="page-title">Welcome at Crazy Potato Lady</h1>

    <div class="container-fluid">
        <div class="div-one row col-sm-offset-12">
            <div class="background-image"></div>
            <img src="images/kapusta2.png" alt="cabbage" class="cabbage">
            <img src="images/groszek.png" alt="green-pea" class="green-pea">
            <img src="images/seler.png" alt="celery" class="celery">
            <img src="images/pomidor2.png" alt="tomato" class="tomato">
            <img src="images/dynia.png" alt="pumpkin" class="pumpkin">
            <img src="images/ziemnior2.png" alt="potato" class="potato">
            <img src="images/cebula.png" alt="onion" class="onion">
            <img src="images/brokul2.png" alt="broccoli" class="broccoli">
            <img src="images/deska.png" alt="plank" class="plank">
            <img src="images/rzodkiewka.png" alt="raddish" class="raddish">
            <img src="images/grzyby.png" alt="mushroom" class="mushroom">
            <img src="images/awokado2.png" alt="avocado" class="avocado">
            <img src="images/ogorek.png" alt="cucumber" class="cucumber">
            <img src="images/por.png" alt="leek" class="leek">

        </div>


        <!-- START MAIN DIV TWO -->

        <div class="div-two row col-sm-offset-2">
            <div class="recipes-count-header">
                <h1 class="middle"><%= recipesCount %> recipes</h1>
            </div>


            <div class="w3-content w3-display-container crop" style="max-width:800px" >
                <img class="recipeSlides" src="images/recipes/DSC01285.jpg" style="width:100%">
                <img class="recipeSlides" src="images/recipes/DSC01298.jpg" style="width:100%">
                <img class="recipeSlides" src="images/recipes/DSC_0069.jpg" style="width:100%">
                <img class="recipeSlides" src="images/recipes/DSC_0328.jpg" style="width:100%">
                <img class="recipeSlides" src="images/recipes/DSC_0335.jpg" style="width:100%">
                <img class="recipeSlides" src="images/recipes/DSC_0552.jpg" style="width:100%">
                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                    style="width:100%">
                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
                </div>
            </div>
        </div>
        <!-- END MAIN DIV TWO -->

        <!-- START MAIN DIV THREE -->
        <div class="div-three">
            <div class="row simple-grid">
                <div class="feature-box-image item-one-simple">
                    <img class="earth-img" src="images/ziemia.png" alt="earth">
                    <img class="moon-img" src="images/moon.png" alt="earth">
                </div>
                <div class="feature-box-text item-two-simple">
                    <h1>For the planet</h1>
                    <p class="bigger-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus in at. Temporibus aliquam
                        impedit molestiae laudantium at itaque est reiciendis fugit facere cupiditate totam delectus
                        ipsum animi velit ex, quia quo tenetur deserunt voluptas illo? Quam inventore eveniet, saepe
                        aliquam repellendus at quos aut aliquid est, dicta voluptatem?</p>
                </div>
            </div>
        </div>



    <!-- END MAIN DIV THREE -->


    <!-- START MAIN DIV FOUR -->
    <div class="div-four">
        <div class="row grid-container">
            <div class="feature-box-text item-one">
                <h1>For the animals</h1>
                <p class="bigger-font">Quam inventore eveniet, saepe aliquam repellendus at quos aut aliquid est, dicta voluptatem? Incidunt dolores, porro officiis
                    facere, quo saepe, consequuntur nam sit quibusdam ducimus dignissimos sed tempore fugit nisi
                    sequi repudiandae! Ut numquam ea earum dignissimos nemo nulla aliquam officia suscipit neque
                    obcaecati. Hic dolorum iste dolores quos eum voluptates error modi eligendi! Quam inventore eveniet, saepe
                    aliquam repellendus at quos aut aliquid est, dicta voluptatem?</p>
            </div>
            <div class="feature-box-image item-two">
                <div class="row-images">
                    <img class="chick-img" src="images/kurczaczek.png" alt="chick">
                    <img class="turkey-img" src="images/indyk.png" alt="turkey">
                </div>
                <div class="row-images">
                    <img class="pig-img" src="images/swinka.png" alt="pig">
                    <img class="heart-img" src="images/serce.png" alt="love">
                    <img class="fish-img" src="images/ryba.png" alt="fish">
                </div>
                <div class="row-images">
                    <img class="cow-img" src="images/krowa.png" alt="cow">
                    <img class="sheep-img" src="images/owca.png" alt="sheep">
                </div>
            </div>

        </div>
    </div>
    <!-- END MAIN DIV FOUR -->
    <div class="div-five">
        <div class="row justify-content-center">
            <div class="benefits-box col-lg-3 col-md-12">
                <i class="fas fa-money-bill-alt fa-4x"></i>
                <h2>Save resources</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aliquid reiciendis molestiae reprehenderit dolor officia eveniet in! Nobis, ullam repellat.</p>
            </div>

            <div class="benefits-box col-lg-3 col-md-12">
                <i class="fas fa-globe-europe fa-4x"></i>
                <h2>Help the planet</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aliquid reiciendis molestiae reprehenderit dolor officia eveniet in! Nobis, ullam repellat.</p>

            </div>

            <div class="benefits-box col-lg-3 col-md-12">
                <i class="fas fa-user-check fa-4x"></i>
                <h2>Grow personally</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aliquid reiciendis molestiae reprehenderit dolor officia eveniet in! Nobis, ullam repellat.</p>

            </div>

            <div class="benefits-box col-lg-3 col-md-12">
                <i class="fas fa-hand-peace fa-4x"></i>
                <h2>Have good karma</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aliquid reiciendis molestiae reprehenderit dolor officia eveniet in! Nobis, ullam repellat.</p>

            </div>
        </div>

    </div>
</div>



<%- include("partials/footer") -%>