<%- include("header") -%>

<body style="background-color: #b7eae3">

    <!-- START NAVBAR -->
    <%- include("navbar") -%>
    <!-- END NAVBAR -->

    <div class="container-fluid">
        <div class="row">
            <h1 class="page-title">Recipes</h1>
        </div>
        <div class="row justify-content-center col-12">
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/DSC_0548.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Ragi porridge with blueberries</a></h3>
            </div>
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/DSC_0738.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Spirulina and kiwi smoothie</a></h3>
            </div>
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/DSC_0796.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Scrambled chickpeas</a></h3>
            </div>
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/berries_bowl_with_oats.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Berries smoothie bowl</a></h3>
            </div>
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/pancakes_with_kiwi_and_bananas.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Gluten-free pancakes</a></h3>
            </div>
            <div class="image-and-title col-lg-3 col-md-6 col-sm-12">
                <div class="image-tile">
                    <img src="images/recipes/raspberry_ice.jpg" alt="">
                    <p class="recipe-details">
                        preparation time: 10 min <br>
                        servings: 1<br>
                        category: <a href="#">breakfast</a>
                    </p>
                </div>
                <h3><a href="#">Raspberry ice</a></h3>
            </div>

        </div>

    </div>




    <script src="/js/recipes.js"></script>



</body>

<%- include("footer") -%>