* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 100%;
    /* margin: 0; */
}

.container-fluid {
    padding: 0;
    height: auto;
    overflow: hidden;
    margin-top: 70px;
    padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-weight: 300;
}

.page-title {
    margin: 40px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

/* START NAVBAR */

a:hover {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

.top-nav {
    position: fixed;
    top: 0;
    height: 70px;
    background-color: black;
    width: 100%;
    margin: 0;
    z-index: 999;
    line-height: 70px;
}

.header-nav {
    position: relative;
    margin-left: 10px;
}

.logo-nav {
    float: left;
    font-weight: 800;
    vertical-align: middle;
    letter-spacing: 2px;
}

.logo-nav:hover {
    color: white;
}

.header-name-nav {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 1.5rem;
}

.recipes-blog-nav {
    position: relative;
}


.recipes-blog-nav-item {
    float: left;
    color: #e7bab3;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    font-size: 1rem;
}

.recipes-blog-nav-item:hover {
    background-color: #131414;
    color: #e7bab3;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 18.81rem;
    top: 70px;
    background-color: black;
    max-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #e7bab3;
    margin: 0;
    padding: 5px 25px;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    background-color: #131414;
}

#recipes-hoverable:hover~.dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}

.logout-button {
    /* display: inline-block; */
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.logout-button>.btn {
    padding: 0 20px;
    float: right;
}


.icons-nav {
    float: right;
    vertical-align: middle;
    padding-right: 10px;
}

.icon-right-nav {
    padding: 0 20px;
    float: right;
}

.icon-right-nav:hover {
    color: #f7aaa3;
}

.toggle-button-right {
    float: right;
}

.top-nav .icon {
    display: none;
}

.top-nav .icon:hover {
    color: white;
}

.fa-money-bill-alt,
.fa-globe-europe,
.fa-user-check,
.fa-hand-peace {
    font-size: 1rem;
}

.fa {
    margin-right: 10px;
}


/* DATA TOOLTIP NAVBAR from https://codepen.io/reiinii1/pen/aPGXEa*/

[data-tooltip] {
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 0px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(56, 61, 59, 0.9);
    background-image: linear-gradient(30deg,
            rgba(59, 72, 80, 0.44),
            rgba(59, 68, 75, 0.44),
            rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: " ";
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}


/* NAVBAR RESPONSIVE < 600px WIDTH */

@media screen and (max-width: 992px) {
    .top-nav .header-nav .header-name-nav {
        display: none;
    }

    .logout-button {
        display: none;
    }

    .top-nav .header-nav .recipes-blog-nav-item {
        display: none;
    }

    .top-nav .icons-nav {
        display: none;
    }

    .top-nav .toggle-button-right a.icon {
        float: right;
        display: block;
    }

    /* .dropdown-content {
        display: block;
    } */

    .dropdown-responsive {
        float: left;
        color: #e7bab3;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 300;
        font-size: 1rem;
    }


    .dropdown-responsive:hover {
        background-color: #131414;
        color: #e7bab3;
    }


    .top-nav.responsive {
        height: 350px;
    }

    #recipes-hoverable:hover~.dropdown-content {
        display: none;
    }

    .top-nav.responsive .logo-nav {
        padding-left: 10px;
    }

    .top-nav.responsive .icons-nav {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .top-nav.responsive .logout-button {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .top-nav.responsive .icon-right-nav {
        float: center;
    }

    .top-nav.responsive .header-nav {
        position: relative;
        margin: 0;
    }

    .top-nav.responsive .header-nav .recipes-blog-nav {
        text-align: center;
    }

    .top-nav.responsive .toggle-button-right .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .top-nav.responsive .header-nav .logo-name-nav {
        float: none;
        text-align: left;
    }

    .top-nav.responsive .header-nav a {
        float: none;
        display: block;
    }


    .top-nav.responsive .icons-nav a {
        float: none;
        display: inline;
    }


}



/* Body five main divs */

.div-one {
    height: 58rem;
    background-color: #b7eae3;
    position: relative;

}

.div-two {
    height: 650px;
    background-color: #c7dad3;
    display: block;
}

.div-three {
    min-height: 420px;
    background-color: #d7cac3;
    margin: auto;
    padding: 4% 12%;
    position: relative;
    display: block;
    z-index: 11;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3vw), 0 100%);
    margin-bottom: -3vw;
}

.div-four {
    background-color: #e7bab3;
    min-height: 450px;
    padding: 4% 8% 4% 8%;
    position: relative;
    display: block;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    margin-bottom: -5vw;
}

.div-five {
    min-height: 400px;
    background-color: #f7aaa3;
    position: relative;
    display: block;
    padding: 6% 12% 4% 12%;
}



/* Div-one pictures */

.background-image {
    height: 56rem;
    position: absolute;
    top: 40px;
    width: 100%;
    background: url(../images/compilation.png) center center no-repeat;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.15;

}

.cabbage {
    background: transparent;
    width: 12rem;
    position: absolute;
    left: 15%;
    bottom: 45%;
    animation: float1 6s ease-in-out infinite;
}

.green-pea {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 8rem;
    position: absolute;
    left: 27%;
    top: 15%;
    animation: float1 4s ease-in-out infinite;
}

.celery {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 10rem;
    position: absolute;
    left: 25%;
    bottom: 23%;
    animation: float2 8s ease-in-out infinite;
}

.tomato {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 8rem;
    position: absolute;
    left: 37%;
    top: 20%;
    animation: float2 4s ease-in-out infinite;
}

.potato {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 8rem;
    position: absolute;
    left: 35%;
    bottom: 23%;
    animation: float1 4s ease-in-out infinite;
}

.onion {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 7rem;
    position: absolute;
    left: 48%;
    top: 14%;
    animation: float1 5s ease-in-out infinite;
}

.broccoli {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 18rem;
    position: absolute;
    left: 43%;
    bottom: 12%;
    animation: float2 10s ease-in-out infinite;
}

.pumpkin {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 15rem;
    position: absolute;
    left: 60%;
    top: 25%;
    animation: float2 3s ease-in-out infinite;
}

.plank {
    background: transparent;
    transform-origin: top center;
    width: 15rem;
    position: absolute;
    left: 45%;
    bottom: 45%;
    animation: swing 5s ease-in-out infinite;
}

.raddish {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 2rem;
    position: absolute;
    left: 30%;
    top: 35%;
    animation: float2 3s ease-in-out infinite;
}

.mushroom {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 5rem;
    position: absolute;
    left: 60%;
    top: 10%;
    animation: float1 4.5s ease-in-out infinite;
}

.avocado {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 5rem;
    position: absolute;
    left: 73%;
    top: 30%;
    animation: float2 5s ease-in-out infinite;
}

.cucumber {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a); */
    /* filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 7rem;
    position: absolute;
    left: 60%;
    bottom: 25%;
    animation: float2 3s ease-in-out infinite;
}

.leek {
    background: transparent;
    /* -webkit-filter: drop-shadow(5px 5px 5px #556e6a);
    filter: drop-shadow(5px 5px 5px #556e6a); */
    width: 7rem;
    position: absolute;
    left: 70%;
    bottom: 25%;
    animation: float1 6s ease-in-out infinite;
}

/* Animations */

@keyframes float1 {
    0% {
        /* box-shadow:  0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        transform: translatey(20px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes swing {

    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg)
    }


}

@media only screen and (max-width: 1500px) {

    .pumpkin,
    .broccoli {
        visibility: hidden;
    }

    .potato {
        left: 40%;
    }

    .mushroom {
        left: 70%;
    }

    .onion {
        left: 55%;
    }
}

@media only screen and (max-width: 1000px) {

    .raddish,
    .tomato,
    .celery {
        visibility: hidden;
    }

    .green-pea {
        left: 20%;
    }

    .onion {
        left: 45%;
    }

    .mushroom {
        left: 70%;
        top: 20%;
    }

    .leek {
        left: 65%;
        top: 55%;
    }

    .avocado {
        left: 75%;
        top: 35%;
    }

    .cabbage {
        left: 15%;
    }

    .potato {
        left: 22%;
    }

    .cucumber {
        left: 45%;
        top: 65%;
    }

    .plank {
        left: 38%;
        top: 30%;
    }

    .div-one {
        height: 700px;
    }

    .background-image {
        top: -5%;
        background-size: 120%;
    }

    .div-three,
    .div-four {
        height: 600px;
    }

}

@media only screen and (max-width: 650px) {

    .avocado,
    .cabbage {
        visibility: hidden;
    }

    .plank {
        left: 35%;
    }

    .mushroom,
    .leek {
        left: 70%;
    }

    .mushroom {
        top: 18%;
    }

    .potato,
    .green-pea {
        left: 20%;
        /* bottom: 28%; */
    }

    .cucumber,
    .onion {
        left: 45%;
    }

    .cucumber,
    .leek,
    .potato {
        top: 70%;
    }

    .div-one {
        height: 600px;
    }

    .background-image {
        top: -17%;
        min-width: 500px;
        background-size: 140%;
    }

}

@media only screen and (max-width: 520px) {

    .green-pea {
        top: 15%;
        left: 10%;
    }

    .mushroom {
        visibility: hidden;
    }

    .tomato {
        visibility: visible;
        top: 8%;
        left: 60%;
    }

    .leek {
        left: 60%;
        top: 66%;
    }

    .potato {
        top: 70%;
        left: 10%;
    }

    .plank {
        top: 20%;
        left: 25%;
    }

    .onion,
    .cucumber {
        visibility: hidden;
    }

    .div-one {
        height: 500px;
    }

    .background-image {
        top: -30%;
        min-width: 500px;
        background-size: 140%;
    }
}

@media only screen and (max-width: 414px) {


    .div-three,
    .div-four {
        /* margin: 0 -0px 0 20px; */
        padding: 40px 0;
        max-width: 100%;
        height: 750px;
    }

    .row.simple-grid,
    .row.grid-container {
        max-width: 320px;
        margin: auto;
    }

    div.feature-box-image.item-one-simple {
        width: 300px;
        margin-left: -10px;
        max-width: 250px;
    }

    .row-images {
        margin-left: -80px;
    }

    .feature-box-text {
        max-width: 320px;
        padding: 0;
    }


    h3.copyright {
        font-size: 1rem;
        margin-top: 20px;
    }
}


/* DIV TWO ELEMENTS */


.recipes-count-header {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    display: table;
    text-align: center;
}

.recipeSlides {
    margin: auto;
    display: none;
}

/*   
  .slideLeft {
      position: relative;
    margin: 0;
    left: 0;
    font-size: 0;
    animation: 20s slider infinite;
  } */

/* div#sliderMainss {
    overflow: hidden;
    margin: auto;
    width: 50%;
    max-width: 700px;
    max-height: 400px;
  }
  div#slider div {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    font-size: 0;
    
  }
  div#slider div img {
    width: 20%;
    float: left;
  } */

.w3-content {
    margin: auto;
    width: 100%;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.active {
    display: block;
    opacity: 1;
}

.w3-center {
    position: relative;
    top: -60px;
}

.crop {
    overflow: hidden;
}

.crop img {
    object-fit: cover;
    height: 500px;
    margin: auto;

}

@keyframes slider {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }
}



/* DIV THREE + GRID SYSTEM */

.simple-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.item-one-simple {
    display: inline-block;
    order: 1;
}

.item-two-simple {
    display: inline-block;
    order: 1;
}

@media only screen and (max-width: 992px) {

    .simple-grid {
        display: grid;
    }

    .item-one-simple {
        order: 1;
    }

    .item-two-simple {
        order: 2;
    }
}

.grid-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}


.item-one {
    display: inline-block;
    order: 1;
}

.item-two {
    display: inline-block;
    order: 1;
}

@media only screen and (max-width: 992px) {

    .grid-container {
        display: grid;
    }

    .item-one {
        order: 2;
    }

    .item-two {
        order: 1;
    }
}

.feature-box-image {
    padding: 0 2%;
    text-align: center;
    min-width: 410px;
}

.feature-box-text {
    text-align: center;
    padding: 0 2%;
}

.feature-box-text>p {
    text-align: left;
}

.earth-img {
    max-height: 200px;
    min-height: 200px;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.moon-img {
    max-height: 60px;
    min-height: 60px;
    object-fit: contain;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 0;
}

.cow-img {
    max-height: 70px;
    min-height: 70px;
    padding-right: 10px;
}

.sheep-img {
    max-height: 55px;
    min-height: 55px;
    padding-right: 10px;
}


.chick-img {
    max-height: 70px;
    min-height: 70px;
    padding-right: 10px;
}

.turkey-img {
    max-height: 70px;
    min-height: 70px;
    padding: 0 10px;

}

.pig-img {
    max-height: 90px;
    min-height: 90px;
    padding: 0 10px;

}

.fish-img {
    max-height: 90px;
    min-height: 90px;
    padding: 0 10px;

}

.heart-img {
    max-height: 120px;
    min-height: 120px;
    padding: 10px 10px;
}

.row-image {
    margin: 20px;
    text-align: center;
}

.row-img img {
    margin: 0 20px;
}




/* BENEFITS DIV FIVE */

.div-five .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.benefits-box {
    padding: 2% 3%;
    text-align: center;
    max-width: 350px;
}

.benefits-box>i {
    font-size: 4rem;
    padding-bottom: 15px;
}

.benefits-box>h2 {
    padding-bottom: 10px;
}

.benefits-box:hover>.fa-money-bill-alt,
.benefits-box:hover>.fa-globe-europe,
.benefits-box:hover>.fa-hand-peace,
.benefits-box:hover>.fa-user-check {
    color: #493a37;
}


/* COOPERATION */

.work-together {
    padding: 2% 5%;
}

.cooperation-image {
    max-height: 400px;
    min-height: 200px;
    object-fit: contain;
    margin: auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

.work-text {
    text-align: center;
    min-width: 400px;
    max-width: 600px;
    padding: 0 2%;
}

.bold-font {
    font-weight: 400;
}

.signature {
    float: right;
}

@media only screen and (max-width: 1024px) {

    .work-text {
        min-width: 900px;
    }

    .cooperation-image {
        max-width: 400px;
    }

}

@media only screen and (max-width: 768px) {

    .feature-box-image-cooperation {
        max-height: 280px;
    }

    .work-text {
        min-width: 600px;
    }

    .cooperation-image {
        max-width: 300px;

    }
}

@media only screen and (max-width: 414px) {

    .feature-box-image-cooperation {
        margin-bottom: -60px;
    }

    .work-text {
        min-width: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .cooperation-image {
        max-width: 300px;
    }

}

@media only screen and (max-width: 375px) {

    .work-text {
        /* min-width: 100px; */
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }

    .cooperation-image {
        max-width: 300px;
    }

}

@media only screen and (max-width: 320px) {

    .work-text {
        max-width: 280px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }

    .cooperation-image {
        max-width: 300px;
    }
}

.footer {
    height: 50px;
    position: relative;
    margin: auto;
    text-align: right;
    display: table;
    width: 100%;
    padding-right: 10px;
}

.socials {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 2rem;
}

.socials>a {
    color: inherit;
    padding: 4px;
}

.socials>a:hover {
    color: #493a37;
}


.middle {
    display: table-cell;
    vertical-align: middle;
}
















/* RECIPES.HTML */

.row {
    margin: 0px;
    padding: 0px;
}


.image-tile {
    background-color: white;
    overflow: hidden;
    height: 400px;
    width: 300px;
    position: relative;
    display: inline-block;
    border: 5px solid white;

}

.image-tile img {
    z-index: 0;
    object-fit: cover;
    height: 400px;
    width: 300px;
    position: absolute;

    opacity: 1;
    -webkit-animation: opacity 0.5s ease-out;
    -moz-animation: opacity 0.5s ease-out;
    -o-animation: opacity 0.5s ease-out;
    animation: opacity 0.5s ease-out;

    left: 2.5px;
    top: 2.5px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.image-and-title:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.35;
}

.image-and-title:hover .recipe-details {
    display: block;
}

.recipe-details {
    position: relative;
    text-align: left;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 250px;
    font-size: 1.5em;
    max-width: 300px;
    display: none;
}

.recipe-details a {
    color: black;
}



.image-and-title {
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 350px;
    padding: 30px 20px;
}

.image-and-title h3 {
    width: inherit;
    position: relative;
    margin-top: 10px;
}

.image-and-title a {
    color: black;
    word-wrap: normal;
    width: inherit;
    text-align: center;
}

.section-title-recipes {
    float: left !important;
    text-align: left;
    margin-left: 50px;
}

.section-title-recipes a {
color: black;
}

.section-title-recipes::after {
    content: '';
    display: block;
    margin: 3px 0px;
    border-bottom: 4px solid black;
    width: inherit;
}




/* RECIPE PAGE */

.ingredients {
    margin-right: 20px;
    margin: auto;
}

div.ingredients.item-one {
    padding: 20px;
}

.ingredients>h3 {
    text-align: right;
}

.image-tile-recipe {
    background-color: white;
    overflow: hidden;
    height: 400px;
    width: 400px;
    position: relative;
    display: inline-block;
    border: 5px solid white;

}

.image-tile-recipe img {
    z-index: 0;
    object-fit: cover;
    height: 400px;
    width: 400px;
    position: absolute;

}


.grid-container-recipe {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    grid-template-columns: 1fr auto;

}

.item-one-recipe {
    display: inline-block;
    order: 1;
    max-width: 500px;
    margin: auto;
}

.item-two-recipe {
    display: inline-block;
    order: 1;
    max-width: 500px;
    margin: auto;
}

.method {
    width: 100%;
    margin: 0 20%;
}

.recipe-tags {
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 830px) {

    .grid-container-recipe {
        display: grid;
        grid-template-columns: auto;
    }

    .item-one-recipe {
        order: 2;
        display: block;
    }

    .item-two-recipe {
        order: 1;
    }

    .ingredients {
        text-align: center;
    }

    .ingredients>ul {
        text-align: center;
    }

    .ingredients>h3 {
        text-align: center;
    }

    .method {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    div.image-square.image-tile {
        width: 250px;
    }

}

/* RECIPE PAGE */

.ingredients {
    margin-right: 20px;
    margin: auto;
}

div.ingredients.item-one {
    padding: 20px;
}

.ingredients>h3 {
    text-align: right;
}


.grid-container-recipe {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    grid-template-columns: 1fr auto;

}

.item-one-recipe {
    display: inline-block;
    order: 1;
    max-width: 500px;
    margin: auto;
}

.item-two-recipe {
    display: inline-block;
    order: 1;
    max-width: 500px;
    margin: auto;
}

.method {
    width: 100%;
    margin: 0 20%;
}

.recipe-tags {
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 830px) {

    .grid-container-recipe {
        display: grid;
        grid-template-columns: auto;
    }

    .item-one-recipe {
        order: 2;
        display: block;
    }

    .item-two-recipe {
        order: 1;
    }

    .ingredients {
        text-align: center;
    }

    .ingredients>ul {
        text-align: center;
    }

    .ingredients>h3 {
        text-align: center;
    }

    .method {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {

    div.image-square.image-tile {
        width: 250px;
    }

}



/* BLOG.HTML */


.add-new-blog-post-button {
    margin: auto;
}

.blog-preview-post {
    width: 100%;
    overflow: visible;
    min-height: 550px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}


.blog-preview-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    border-width: 5px 0 0 0;
    border-style: solid;
    border-color: white;
}


.blog-preview-title-bar {
    position: absolute;
    height: 5vw;
    /* width: 38vw; */
    background-color: rgb(255, 255, 255, 0.5);
    /* opacity: 0.5; */
    z-index: 1;
    margin: 0;
    left: 0px;
    top: 20px;
}

.blog-preview-title-bar-text,
.blog-preview-text>a,
.read-older a {
    color: black;
}

.blog-preview-title-bar-text {
    /* position: absolute; */
    font-size: 3vw;
    z-index: 2;
    margin: auto;
    padding: 10px 100px 10px 100px;
    /* left: 0px; */
    /* top: 20px; */
}

.blog-preview-title-bar-text>a {
    color: inherit;
}

.blog-edit-delete-btn {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
}

.blog-edit-delete-btn form {
    display: inline;
    margin: 0 5px 0 5px;
}

.blog-preview-text {
    position: relative;
    top: 300px;
    min-height: 450px;
    width: 75%;
    padding: 20px 0;
}

.fas.fa-greater-than {
    padding-left: 10px;
    z-index: 2;
}



.blog-preview-text-inline-bigger {
    font-size: 2em;
}

.read-more-older {
    float: right;
    text-align: right;
}

.read-older {
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 20px;
}

@media only screen and (max-width: 414px) {
    .blog-preview-title-bar {
        height: 50px;
    }

    .blog-preview-title-bar-text {
        font-size: 1.5rem;
        padding: 10px 20px 10px 20px;
    }

    .blog-edit-delete-btn {
        top: 45%;
    }

    .blog-preview-text-inline-bigger {
        font-size: 1.5rem;
    }
}



/* About page */

.author {
    display: block;
    margin: auto;
    clip-path: polygon(5% 25%, 80% 0, 100% 85%, 0 100%);
    float: center;
}


.cv-title {
    margin-left: 30px;
    padding-right: 50px;
    color: white;
    margin-bottom: 30px;
}

.cv-title,
.skill,
.full {
    background-color: #3e7e75;
}

.contact-item i,
.cv-headline,
.work-education-item h3,
.responsibilities-list>li::before,
.subjects-list>li::before {
    color: #3e7e75;
}

.cv-title>h2 {
    font-size: 3rem;
}

.about-text {
    margin: auto 10% 2% 5%;
}

.about-me-line {
    border-top: 4px solid white;
    z-index: 1;
}

.contact-item {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.contact-item a {
    color: inherit;
}

.phone-number {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cv-side-panel-items {
    margin-bottom: 50px;
    padding: 2% 3%;
    max-width: 350px;
}

.cv-headline::after {
    content: '';
    display: block;
    margin: 3px 0px;
    border-bottom: 4px solid rgb(62, 126, 117);
}

.skill {
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

.language {
    font-size: 1.5rem;
}

.cv-side-panel-items .language {
    margin: 0;
}

.language-progress-bars {
    margin-bottom: 20px;
}

.full {
    display: inline-block;
    border-radius: 10px;
    margin: 0 10px;
    min-height: 20px;
    min-width: 20px;
}

.empty {
    display: inline-block;
    border-radius: 10px;
    margin: 0 10px;
    min-height: 20px;
    min-width: 20px;
    border: 3px solid rgb(62, 126, 117);
}

.interest {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    border: 3px solid black;
}

.work-experience-items {
    margin-top: 50px;
    margin-bottom: 50px;
}

.work-education-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.work-education-item h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.working-dates {
    float: left;
    font-style: italic;
}

.job-location {
    float: right;
    font-style: italic;
}

.short-description-about {
    display: block;
    color: #493a37;
}

.responsibilities-list {
    margin-top: 20px;
    list-style: none;
}

.responsibilities-list>li::before {
    content: '\271A';
    padding-right: 5px;
}

.subjects-list {
    margin-top: 20px;
    list-style: none;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}



.subjects-list>li::before {
    content: '\271A';
    padding-right: 5px;
}

.subjects-list>li {
    display: block;
    float: left;
    padding-left: 30px;
    list-style-position: inside;
    text-indent: -1.5em;
}

@media only screen and (max-width: 992px) {
    .cv-title {
        margin: 20px 50px 50px 50px;
    }

    .cv-title h2,
    .cv-title h3 {
        text-align: center;
    }

    .empty,
    .full {
        border-radius: 3vw;
        height: 3vw;
        width: 3vw;
    }

    .side-panel-grid {
        display: grid;
        margin: 0 10%;
        grid-template-columns: calc(100% / 2) calc(100% / 2);
        grid-template-rows: fit-content(200px) fit-content(200px);
    }

    .grid-1 {
        order: 1;

    }

    .grid-2 {
        order: 2;

    }

    .grid-3 {
        order: 3;

    }

    .grid-4 {
        order: 4;

    }

    .work-education-items {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.contact-me {
    font-weight: bold;
    color: inherit;
}

@media only screen and (max-width: 414px) {
    .cv-title {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .about-text {
        width: 300px;
        margin: 10px;
        padding: 0;
    }

    .cv-headline {
        margin-top: 0;
    }

    .contact-item {
        margin-top: 10px;
    }

    .side-panel-grid {
        margin: 5px;
    }

    .work-education-items {
        margin: 5px;
    }

    .subjects-list {
        margin-left: 20px;
        margin-right: 20px;
        column-count: 2;
    }

    .subjects-list>li {
        margin-bottom: 10px;
    }
}



/* COMPOSE PAGE */

.new-post-title {
    width: 800px;
    margin-bottom: 10px;
}

.submit-new-post {
    float: right;
}


/* POST PAGE */

.post-picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    position: relative;
}

.form-request-buttons {
    display: inline;
}

form>button.btn-light,
form>input.btn-light {
    margin-bottom: 20px;
    margin-right: 10px;
}

.post-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 20px 250px 100px 250px;
    min-height: 200px;
    overflow: hidden;
}

.short-description {
    margin: 80px 250px 0 250px;
    font-style: italic;
    font-size: 1.5rem;
}

.post-tags {
    margin: auto;
    text-align: center;
}

.post-tags a {
    color: black;
    font-size: 1.5rem;
}

.post-tags span {
    padding: 0 10px;
}

.post-tags a:hover {
    color: rgb(58, 66, 65);
}

@media only screen and (max-width: 1024px) {

    .adjust-height-big-screens {
        height: calc(100vh - 70px - 50px);
        padding: 0;
        overflow: auto;
    }

    .new-post-title {
        width: 100%;
    }

    .post-picture {
        height: 300px !important;
    }

    .short-description,
    .post-content,
    .post-tags {
        margin: 80px 30px !important;
    }
}

@media only screen and (max-width: 992px) {

    .adjust-height-big-screens {
        overflow: auto;
    }

    .new-post-title {
        width: 100%;
    }

    .post-picture {
        height: 300px !important;
    }

    .short-description,
    .post-content,
    .post-tags {
        margin: 30px 20px !important;
    }
}


/* LOGIN PAGE */

.height-100 {
    height: calc(100vh - 70px - 50px);
    padding: 0;
}

.wrong-password {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    font-weight: 500;
    letter-spacing: 2px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(250, 177, 169);
    margin-bottom: 20px;
}

.col-sm-8 {
    margin: auto;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 4px, 0);
    }
}


/* FORBIDDEN ACCESS */

.forbidden-page {
    font-size: 4rem;
    margin-top: 70px;
    margin-bottom: 40px;
}

.forbidden-image {
    width: 1000px;
    margin: auto;
}

.forbidden-div {
    margin: auto;
}

.forbidden-text {
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

@media only screen and (max-width: 1024px) {

    .adjust-height-big-screens {
        height: calc(100vh - 70px - 50px);
        padding: 0;
    }

    .forbidden-page {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .forbidden-text {
        width: 60%;
        margin: auto;
    }

    .forbidden-image {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 992px) {

    .forbidden-page {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .forbidden-text {
        width: 80%;
        margin: auto;
    }

    .forbidden-image {
        margin-top: 100px;
    }
}




@media only screen and (max-width: 768px) {
    .forbidden-page {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .page-title {
        font-size: 2rem;
    }

    .forbidden-text {
        width: 80%;
        font-size: 1.5rem;
        margin: auto;
    }

    .forbidden-image {
        margin-top: 30px;
        width: 100%;
    }

}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 375px) {

    .forbidden-page {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .page-title {
        font-size: 2rem;
    }

    .forbidden-text {
        font-size: 1.5rem;
        width: 80%;
        margin: auto;
    }

    .forbidden-image {
        margin-top: 20px;
        width: 100%;
    }

}



/* CONTACT PAGE */

.benefits-box:hover>.fa-linkedin-in,
.benefits-box:hover>.fa-envelope,
.benefits-box:hover>.fa-phone {
    color: #3e7e75;
}